<div class="container">
  <div class="card">
      <div class="card-header text-center">
          <h1>Personas</h1>
      </div>
      <div class="card-body">
          <table class="table table-hover" *ngIf="personas.length>0">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>NOMBRES</th>
                      <th>APELLIDOS</th>
                      <th>DOCUMENTO</th>
                      <th>TELEFONO</th>
                      <th>ACTIONS</th>
                  </tr>
              </thead>
              <tbody>
                  <tr class="text-center" *ngFor="let persona of personas">
                      <td>{{persona.id}}</td>
                      <td>{{persona.nombres}}</td>
                      <td>{{persona.apellidos}}</td>
                      <td>{{persona.documento}}</td>
                      <td>{{persona.telefono}}</td>
                      <td class="text-center">
                          <button class="btn btn-warning font-weight-bold mr-1" (click)="edit(persona.id)">
                              <fa-icon [icon]="faEdit"></fa-icon>
                              Edit
                          </button>
                          <button class="btn btn-danger font-weight-bold ml-1" (click)="delete(persona.id)">
                              <fa-icon [icon]="faTrashAlt"></fa-icon>
                              Delete
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>
          <div class="container" *ngIf="personas.length===0">
              <h5 class="card-title text-center">No hay registros</h5>
          </div>
      </div>
  </div>
</div>
