<div class="container">
  <div class="card">
      <div class="card-header text-center">
          <h1>Agregar personas</h1>
      </div>
      <div class="card-body">
          <form [formGroup]="personaForm">
              <div class="form-group" [ngClass]="{'error': personaForm.get('nombres').hasError('required')&&personaForm.get('nombres').touched}">
                  <label for="nombres" class="font-weight-bold">Nombres</label>
                  <input type="text" class="form-control" id="nombres" formControlName="nombres" name="nombres">
              </div>
              <div class="error-message pb-1 text-center" *ngIf="personaForm.get('nombres').hasError('required')&&personaForm.get('nombres').touched">
                  Campo requerido
              </div>
              <div class="form-group" [ngClass]="{'error': personaForm.get('apellidos').hasError('required')&&personaForm.get('apellidos').touched}">
                  <label for="apellidos" class="font-weight-bold">Apellidos</label>
                  <input type="text" class="form-control" id="apellidos" formControlName="apellidos" name="apellidos">
              </div>
              <div class="error-message pb-1 text-center" *ngIf="personaForm.get('apellidos').hasError('required')&&personaForm.get('apellidos').touched">
                  Campo requerido
              </div>
              <div class="form-group" [ngClass]="{'error': personaForm.get('documento').hasError('required')&&personaForm.get('documento').touched}">
                <label for="documento" class="font-weight-bold">Documento</label>
                <input type="number" class="form-control" id="documento" formControlName="documento" name="documento">
              </div>
              <div class="error-message pb-1 text-center" *ngIf="personaForm.get('documento').hasError('required')&&personaForm.get('documento').touched">
                  Campo requerido
              </div>
              <div class="form-group">
                <label for="telefono" class="font-weight-bold">Telefono</label>
                <input type="number" class="form-control" id="telefono" formControlName="telefono" name="telefono">
              </div>
              <div [style.display]="'flex'">
                  <button type="button" class="col-sm-6 btn btn-dark" [disabled]="personaForm.invalid || personaForm.pristine || sended" (click)="send()" [style.font-weight]="'bolder'">
              <fa-icon [icon]="faSave"></fa-icon>
              Guardar
          </button>
                  <button type="button" class="col-sm-6 btn btn-danger" (click)="clean()" [style.font-weight]="'bolder'" [disabled]="!personaForm.touched">
              <fa-icon [icon]="faEraser"></fa-icon>
              Borrar
          </button>
              </div>
          </form>
      </div>
  </div>
</div>
