<div class="row">
  <div class="col-12">
      <div class="card" [style.border]="'none'">
          <div class="card-body text-center">
              <img [style.width]="'50%'" src="assets/images/no-found.png">
          </div>
      </div>
  </div>
</div>
